#food-search{
    height: 150px;
    background-color: #104E8B;
    display: flex;

}
#food-address{
    width: 150px;
    background-color:#104E8B;
    position: relative;
    font-size: 40px;
    color: white;
    font-weight: bolder;

}

#food-searchbox{
height: 90px;
    width: 600px;
    background-color: white;
    border-radius: 3px;
    margin-top: 25px;
    margin-left: 20px;
    display: flex;
}
#food-glass{
    width: 100px;
    background-image: url(../practice.img/放大镜.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}
#food-word{
    flex: 1;
    font-size: 30px;
    justify-content: flex-start;
    font-weight: bold;
}
#food-microphone{
    width: 100px;
    background-image: url(../practice.img/话筒1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    opacity: .6;
}
#food-order{
width: 100px;
    background-image: url(../practice.img/清单.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}
#food-me{
width: 100px;
    background-image: url(../practice.img/我的2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}
