#my-head{
    height: 100px;
    background-color: #104E8B;
    display: flex;

}
#my-my{
    margin-left: 10px;
    width: 70%;
    font-size: 35px;
    color: white;
    justify-content: flex-start;
}
#my-set{
    height: 100px;
    width: 10%;
    font-size: 35px;
    color: white;
    justify-content: flex-start;
}